
:host {
    display: inline-flex;
}

.dropdown {
    display: flex;
}

.dropdown__button {

}

.dropdown__menu {
    position: fixed;
    z-index: 1000;

    display: none;
}

.dropdown__menu[open] {
    display: unset;
}
