
:host {
    display: inline-block;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.25rem 0;
    border-radius: var(--border-radius);

    background: var(--bg-panel-color);
}
