
.checkbox {
    display: inline-block;
}

.checkbox[readonly] {
    cursor: pointer;
    pointer-events: none;
}

.checkbox__input {
    vertical-align: middle;
    margin: 0.25rem;
}

.checkbox__label {
    vertical-align: middle;
    line-height: 1;
}
