
:host {
    display: inline-block;
}

button {
    cursor: pointer !important;
}

.tag {
    all: unset;
    font-family: 'Consolas';
}

.tag__element,
.tag__brace {
    color: var(--code-token-tagName);
}

.tag__classList {
    color: var(--code-token-classList);
}

.tag__id {
    color: var(--code-token-id);
}
