/* #region root styles */

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v146/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}


*,
::before,
::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background-color: #393b41;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 6px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #a4abb5;
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 0.125rem;
}

:root {
    --bg-color: #282828;
    --text-color: #c7c7c7;

    --success-color: #84ff84;
    --warning-color: #ffcb7d;
    --danger-color: #ff6e6e;

    --border-color: #474747;

    --bg-color-highlight: #3e3e3e;

    --icon-color: #c7c7c7;
    --icon-color-hover: #e8eaed;
    --icon-color-active: #e8eaed;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}

/* #endregion root styles */
