*,
::before,
::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background-color: #393b41;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 6px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #a4abb5;
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 0.125rem;
}

:root {
    --bg-color: #202124;
    --text-color: #e9e9e9;

    --success-color: #84ff84;
    --warning-color: #ffcb7d;
    --danger-color: #ff6e6e;

    --border-color: #3a3a3a;
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}

/* #region panel-events layout */

.panel-events {
    height: 100%;

    display: flex;
}

.panel-events .event-list {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.panel-events .json-viewer {
    width: 30%;
    border-left: 1px solid var(--border-color);
}

/* #endregion */

/* #region event list panel */
.event {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    padding: 0.25rem 1rem;

    border-bottom: 1px solid var(--border-color);
}

.button-group {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 0.25rem;
}

.action-marker {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 1rem;

    display: inline-block;
    vertical-align: middle;

    align-self: center;

    background-color: rgb(238, 238, 238);
}

.label.action {
    flex-basis: 10%;
}

/* #endregion */

/* #region action colors */
.action-marker[data-action^="Direct"] {
    background-color: rgb(238, 238, 238);
}

.action-marker[data-action^="Eval"] {
    background-color: rgb(243, 147, 147);
}

.action-marker[data-action^="Ajax"] {
    background-color: rgb(144, 188, 253);
}

.action-marker[data-action^="Jquery"] {
    background-color: rgb(183, 245, 150);
}

.action-marker[data-action^="Insert"] {
    background-color: rgb(247, 255, 139);
}
/* #endregion*/

/* #region performance colors */

/* #endregion performance colors */
