<div class="event">
    <div class="action-marker" data-action="{{ action }}"></div>

    <div class="label action">{{ action }}</div>

    <div class="label">{{ event }}</div>

    <div class="label performance" role="timestamp">pending</div>

    <div class="button-group">
        <button class="button" role="data">
            jsonData
        </button>
        <button class="button" role="self">
            self
        </button>
        {{#if target }}
            <button class="button" role="target">
                target
            </button>
        {{/if}}
    </div>
</div>
