
:host {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    font-weight: 600;
    font-size: 14px;
    color: var(--text-color-accent);
}
