:host {
    display: flex;
    align-items: center;
    padding: 0 6px;

    height: 26px;
}

.separator {
    width: 1px;
    height: 1rem;

    background: var(--border-color);
    margin: 0 6px;
}

.last {
    margin-left: auto;
}
