
:host {
    display: inline-block;
}

.marker {
    width: 9px;
    height: 9px;

    border-radius: 1rem;

    display: inline-block;
    vertical-align: middle;

    align-self: center;
}

.action {
    display: inline-block;
    height: 100%;

    margin-left: 0.25rem;
    vertical-align: middle;
}
