.marker {
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 1rem;

    display: inline-block;
    vertical-align: middle;

    align-self: center;

    border: 1px solid rgb(212, 212, 212);
}

.action {
    display: inline-block;
    height: 100%;

    margin-left: 0.25rem;
    vertical-align: middle;
}
