.panel-events {
    height: 100%;

    display: flex;
}

.panel-events .event-list {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

event-list-header {
    flex-grow: 0;
    border-bottom: 1px solid var(--border-color);
}

event-list {
    flex-grow: 1;

    overflow: auto;
}

.panel-events event-viewer {
    width: 30%;
    border-left: 1px solid var(--border-color);
}
